@import "../../assets/scss/main";

/* hide scrollbar */
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
} 

/* Scroll */
.homepage {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

/* For looooong page */
/*.absolute--text {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

section {
  height: 100vh;
  scroll-snap-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background-video{
  width: 100%;
  height: 100%;
  top: 0;
  padding: unset;
  position:fixed;
  object-fit:cover;
  z-index: -1;
}

.banner__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  height: 100vh;
  margin-left: 6rem;
  padding-top: 6rem;
}

.banner__title {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-size: 6rem;
  line-height: 7.88rem;
  color: $ds-white;
  margin-bottom: 3rem;
  padding-top: 0.6rem;
}
.banner__title::after {
  content: " DUCKLINGS STUDIO";
  color: $ds-orange;
}

.link_btn {
  margin-bottom: 2rem;
  align-self: flex-end;
}

.get_btn,
.banner__btn {
  text-align: center;
  font-family: 'Roboto', serif;
  font-style: normal;
  background: $ds-darkorange;
  border: 0.065rem solid $ds-darkorange;
  color: $ds-white;
  font-size: $font-size-2;
  width: 12rem;
  padding: 0.6rem 0;
  border-radius: 0.4rem;

  &:hover {
    background: $ds-orange;
    border: 0.065rem solid $ds-orange;
  }
}

.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.games-section {
  background-color: $ds-black-500;
}

.games__title {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 500;
  font-size: $font-size-0;
  line-height: 3.5rem;
  color: $ds-white;
  margin: 3rem 0 1.5rem 0 ;
}

.game {
  background: $ds-black;
  border-radius: 0.75rem;
  width: 75vw;
}

.game__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem 3rem 0;

  justify-content: space-between;
}

.game__name {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.38rem;
  margin-bottom: 0.875rem;

  color: $ds-white;
}

.game__name {
  font-size: 2.5rem;
}

.game__about {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.game__platforms {
  margin-left: 3rem;
}

.game__description {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size-3;
  line-height: 1.44rem;

  color: $ds-white-700;
}

.game__date-text,
.game__platforms-text{
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size-3;
  line-height: 1.44rem;
  margin-left: 0.75rem;
  min-width: 6rem;

  color: $ds-white-700;
}

@media screen and (min-width: 1200px) {
  .game {
    display: flex;
    flex-direction: row;
  }

  .game__img {
    max-width: 25rem;
    border-radius: 0.75rem 0 0 0.75rem;
  }
}

@media screen and (max-width: 1199px) {
  .game {
    display: flex;
    flex-direction: column;
  }

  .game__img {
    height: 20vh;
    object-fit: cover;
    border-radius: 0.75rem 0.75rem 0 0;
  }

  .game__description {
    font-size: $font-size-4;
  }

  .game__date-text,
  .game__platforms-text {
    font-size: $font-size-4;
  }

  .get_btn {
    width: 10rem;
    font-size: $font-size-3;
    margin-top: 0.75rem;
  }
}

@media screen and (max-width: 600px) {
  .game__about {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.375rem;
  }

  .game__platforms {
    margin-left: 0rem;
  }

  .game__description {
    font-size: $font-size-5;
  }

  .game__date-text,
  .game__platforms-text {
    font-size: $font-size-5;
  }

  .get_btn {
    font-size: $font-size-5;
    width: 7rem;
    padding: 0.375rem 0;
    border-radius: 0.4rem;
  }
}

.game__platforms {
  display: flex;
  flex-direction: row;
  align-items: center;
}





.game__icon {
  width: 3rem;
}


.game__date {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.game__btn {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.375rem;
  background: none;
  border: none;
  padding: 1.5rem;

  color: $ds-white;
}


