@import "../../assets/scss/main";

.background-video{
  width: 100%;
  height: 100%;
  top: 0;
  padding: unset;
  position:fixed;
  object-fit:cover;
  z-index: -1;
}

.homepage {
}

.banner__content {
  position: relative;
  width: 70rem;
  margin-left: 6rem;
  margin-top: 6rem;
}

.banner__title {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-size: 6rem;
  line-height: 7.88rem;
  color: $ds-white;
  margin-bottom: 3rem;
  padding-top: 0.6rem;
}
.banner__title::after {
  content: " DUCKLINGS STUDIO";
  color: $ds-orange;
}

.get__btn,
.banner__btn {
  font-family: 'Roboto', serif;
  font-style: normal;
  background: $ds-darkorange;
  border: 0.065rem solid $ds-darkorange;
  color: $ds-white;
  font-size: $font-size-2;
  width: 12rem;
  height: 4.5rem;
  padding: 0.6rem 0;
  border-radius: 0.4rem;

  &:hover {
    background: $ds-orange;
    border: 0.065rem solid $ds-orange;
  }
}
.get__btn {
  align-self: end;
}

.games {
  padding: 3rem 0;
}

.games__title {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 500;
  font-size: $font-size-0;
  line-height: 3.5rem;
  color: $ds-white;
  margin-bottom: 6rem;
}

.game {
  width: 86.125rem;
  background: $ds-black;
  border-radius: 0.75rem;
}

.game__content {
  padding: 3rem 3rem 0;
}

.game__name {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.38rem;
  margin-bottom: 0.875rem;

  color: $ds-white;
}

.game__name {
  font-size: 2.5rem;
}

.game__about {
  margin-bottom: 1rem;
}

.game__description {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size-3;
  line-height: 1.44rem;
  margin-bottom: 6rem;

  color: $ds-white-700;
}

.game__icon {
  width: 3rem;
}

.game__date-text,
.game__platforms-text{
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size-3;
  line-height: 1.44rem;
  margin-left: 0.75rem;
  min-width: 6rem;

  color: $ds-white-700;
}

.game__platforms {
  margin-left: 3rem;
}

.game__btn {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.375rem;
  background: none;
  border: none;
  padding: 1.5rem;

  color: $ds-white;

  &:not(:first-child) {
    border-left: 0.125rem solid $ds-white-700;
  }

  &-active {
    color: $ds-orange;
  }
}

.game__img {
  max-width: 27rem;
}
