@import "../../assets/scss/main";

.footer {
  background: $ds-black;
}

.info__about-us,
.info__explore-text,
.info__contact {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.758rem;
  margin-bottom: 0.375rem;

  color: $ds-white;
}

.info__our-email {

  :first-child {  
    text-decoration: none;
    color: $ds-white;
  }

  :first-child:hover {
    color: $ds-orange;
  }
}

.info__explore,
.info__contacts {
  display: flex;
  flex-direction: row;
  margin-left: 12rem;
}

.info__about-us-description,
.info__explore-link,
.info__inc,
.info__our-email{
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.465rem;
  margin-bottom: 0.75rem;

  color: $ds-white-700;
}

.info__inc {
  margin-bottom: 0;
}

.info__explore-link {
  text-decoration: none;
  line-height: 2.4rem;
  margin-left: 2rem;

  &::before {
    content: "\2022";
    color: $ds-orange;
    font-weight: bold;
    display: inline-block;
    width: 1rem;
    margin-left: -1.5rem;
  }
}

.info {
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
}

.info__ducklings {
  display: flex;
  flex-direction: column;
  width: 40rem;
}

.info__input-email,
.info__input-email:hover {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.375rem;
  padding: 0.25rem 1.5rem;
  height: 3.75rem;

  background: $ds-brown;
  color: $ds-white;
}

.info__email {
  margin-bottom: 14.56rem;
}

.info__email-arrow {
  right: 0.75rem;
  top: 0.5rem;
}

.social-network__link {
  border: none;
  background: $ds-black;

  &:not(:first-child) {
    margin-left: 3rem;
  }
}

.social-network {
  margin: 0 0.2rem;
  width: 2.5rem;

  &:hover {
    filter: invert(51%) sepia(48%) saturate(2889%) hue-rotate(349deg) brightness(104%) contrast(101%);
  }
}

.info__submit-btn {
  border: none;
  background: none;
}

.info__social-network,
.info__social-network a {
  display: flex;
  flex-direction: row;
  height: 2rem;
}

.info__social-network a img {
  height: 2rem;
}

